
.appbar-container{
    width:100%;
    position:sticky;
    top:0;
    left:0;
    z-index: 100;
    .ul{
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        li{
            padding:0 1rem;
        }
    }
    .icon-wraper{
        margin-left: 1rem;
        text-decoration: none;
        .icon{
            font-size: 1.5rem;
            color:var(--primary);
        }
    }
}

.appbar-top-wraper{
    padding:2rem 5%;
    color: var(--white);
    background-color: var(--primary);
    
    .contacts-wraper{
        span{
            margin-right: 1rem;
        }
        .icon{
            font-size:1.3rem;
        }
    }
    .socila-media-content{
        margin-left: 1rem;
        width:40px;
        height:40px;
        border:2px dotted var(--white);
        background-color:var(--secondary);
        .icon{
            font-size:1.5rem;
        }
    }
}
.appbar-nav{
    padding:.5rem 5%;
    background-color: var(--white);
    .logo-wraper{
        height:3.5rem;
    }

    .nav-links-wraper{
        flex:1;
    }
    
}


.mobile-nav-wraper{
    display: none;
}

@media screen and (max-width:750px){
    .app-wraper{
        margin-bottom: 4rem;
    }
    .appbar-container{
        .icon-wraper{
            margin-left: 1rem;
            .icon{
                font-size: 1.5rem;
            }
        }
        .icon-wraper.menu{
            margin: 0 1rem 0 0 !important;
        }
    }
    
    .appbar-nav{
        padding:.5rem;
        background-color: var(--white);
        .logo-wraper{
            margin-right: 1rem;
            height:3rem;
            width:4.5rem;
        }
    
        .nav-links-wraper{
            display: none !important;
        }
        
    }
    

    .mobile-nav-wraper{
        padding:0 .7rem;
        height:4rem;
        width:100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--white);
        background-color: var(--primary);
        position:fixed;
        left:0;
        bottom:0;
        z-index: 100;
        span{
            font-size:.8rem;
        }
        .icon{
            font-size:1.5rem;
        }
        .icon.lg{
            font-size:1.8rem;
        }

        .mobile-nav-item.center{
            margin-top: -1.5rem;
            width: 55px;
            height: 55px;
            border:5px solid var(--gray);
            background-color: var(--primary);
        }
    }
}












// .appbar-top-section {
//     padding:1rem 5%;
//     background-color: var(--primary);
// }
//     .logo-container{
//         height:3rem;
//     }

// .appbar-bottom-section{
//     padding:.5rem 4%;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     background-color: var(--white);

//     .navigation-section{
//         ul{
//             margin: 0;
//             padding: 0;
//             display: flex;
//             align-items: center;
//             list-style: none;
            
//             .my-link{
//                 padding: 0 1rem;
//                 text-decoration: none;
//             }
//         }
//     }

// }


// @media screen and (max-width:750px) {
//     .appbar-container{
//         padding:0 .4rem;
//         display:flex;
//         align-items: center;
//         justify-content: space-between;
//         background-color: var(--white);

//         .nav-icon-wraper{
//             margin-left: 1rem;
//             .nav-icon{
//                 font-size: 1.5rem;
//                 color: var(--primary);
//             }
//         }
//     }

//     .appbar-top-section {
//         padding:0;
//         background-color: var(--white);
//         .logo-container{
//             width:4rem;
//             height:4rem;
//         }
//     }
    
//     .appbar-bottom-section{
//         padding:0;
//         background-color: transparent;
//     }

    
// }